<div class="card">
  <div class="card-header bg-info">
    Event Registration
  </div>
  <div class="card-body">
    <form #frm=ngForm (ngSubmit)="save(frm)">
      <div class="row form-group">
        <div class="col-sm-3">Event Type</div>
        <div class="col-sm-5">
          <select name="eventType" class="form-control" [(ngModel)]="registration.eventType">
            <option>-:Select Event:-</option>
            <option *ngFor="let event of eventList" [ngValue]="event">
              {{event.eventName}}
            </option>
          </select>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-sm-3">First Name</div>
        <div class="col-sm-5">
          <input type=text name=firstName class="form-control" [(ngModel)]="registration.firstName" required minlength="3" #firstName=ngModel/>
        </div>        
        <div class="col-sm-4" *ngIf="firstName.touched && firstName.invalid">
          <div *ngIf="firstName.errors['required']">
              First name is mandatory field.
          </div>          
          <div *ngIf="firstName.errors['minlength']">
              First name is min 3 character.
          </div>          
        </div>
      </div>
      <div class="row form-group">
        <div class="col-sm-3">Last Name</div>
        <div class="col-sm-5">
          <input type=text name=lastName class="form-control" [(ngModel)]="registration.lastName" required minlength="3" #lastName=ngModel/>
        </div>
        <div class="col-sm-4" *ngIf="lastName.touched && lastName.invalid">
            <div *ngIf="lastName.errors['required']">
                Last name is mandatory field.
            </div>          
            <div *ngIf="lastName.errors['minlength']">
                Last name is min 3 character.
            </div>                      
        </div>
      </div>
      <div class="row form-group">
        <div class="col-sm-3">Mobile No</div>
        <div class="col-sm-5">
          <input type=text name=mobileNo class="form-control" [(ngModel)]="registration.mobileNo" required minlength="10" pattern="^[0-9]+$" #mobileNo=ngModel/>
        </div>
        <div class="col-sm-4" *ngIf="mobileNo.touched && mobileNo.invalid">
            <div *ngIf="mobileNo.errors['required']">
                Mobile Number is mandatory field.
            </div>          
            <div *ngIf="mobileNo.errors['minlength']">
                Mobile Number is min 10 character.
            </div>                      
            <div *ngIf="mobileNo.errors['pattern']">
                Mobile Number is Invalid. (only numeric allowed).
            </div>                      
        </div>
      </div>
      <div class="row form-group">
        <div class="col-sm-3">Email</div>
        <div class="col-sm-5">
          <input type=text name=email class="form-control" required email [(ngModel)]="registration.email" #email=ngModel/>
        </div>
        <div class="col-sm-4" *ngIf="email.touched && email.invalid">
            <div *ngIf="email.errors['required']">
                Email is mandatory field.
            </div>          
            <div *ngIf="email.errors['email']">
                Invalid Email Address.
            </div>          
        </div>
      </div>
      <div class="row form-group">
        <div class="col-sm-3">Gender</div>
        <div class="col-sm-5">
          <div class="radio-inline">
              <input type=radio name=gender value="M" [(ngModel)]="registration.gender"/> Male
              <input type=radio name=gender value="F" [(ngModel)]="registration.gender"/> Female
          </div>          
        </div>
      </div>
      <div class="row form-group">
        <div class="col-sm-5">
          <button type="submit" class="btn btn-info m-1" [disabled]="frm.invalid">Register</button>
          <button type="button" class="btn btn-secondary m-1" (click)="reset(frm)">Reset</button>
        </div>
      </div>
    </form>
  </div>
  <div class="card-footer bg-warning" *ngIf="isSubmitted">
    <table class="table table-bordered">
      <tr>
          <td>Event</td>
          <td>{{registration.eventType.eventName}}</td>
      </tr>
      <tr>
        <td>First Name</td>
        <td>{{registration.firstName}}</td>
      </tr>
      <tr>
          <td>Last Name</td>
          <td>{{registration.lastName}}</td>
      </tr>
      <tr>
          <td>Email</td>
          <td>{{registration.email}}</td>
      </tr>
      <tr>
          <td>Mobile No</td>
          <td>{{registration.mobileNo}}</td>
      </tr>
      <tr>
          <td>Gender</td>
          <td>{{registration.gender === 'M' ? 'Male' : 'Female'}}</td>
      </tr>
      
    </table>
  </div>
</div>