<div class="card-container">
    <div class="card">
        <div class="card-header bg-dark text-white">
            Product List
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Product Id</th>
                        <th>Product</th>
                        <th>Description</th>
                        <th>Price</th>
                    </tr>                    
                </thead>
                <tbody>
                    <tr *ngFor="let product of productList">
                        <td><a [routerLink]="['detail',product.id]">{{product.id}}</a></td>
                        <td>{{product.code}}</td>
                        <td>{{product.desc}}</td>
                        <td>{{product.price}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="card-container">
    <div class="card">
        <div class="card-header">
            Product Detail
        </div>
        <div class="card-body">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>