<div class="card">
  <div class="card-header">
    Select Product : 
    <select name=product class="form-control" (change)="getSelectedValue()" [(ngModel)]="selectedProduct">
      <option>-:Select Product:-</option>
      <option *ngFor="let product of productList" [ngValue]="product">
        {{product.desc}}
      </option>
    </select>
  </div>
</div>
<div class="card">
  <div class="card-header bg-info">
    Product List
  </div>
  <div class="card-body">
    <table class="table table-striped">
      <tr>
        <th>Id</th>
        <th>Code</th>
        <th>Desc</th>
        <th>Unit Price</th>
      </tr>
      <tr *ngFor="let product of productList">
        <td>{{product.id}}</td>
        <td>{{product.code}}</td>
        <td>{{product.desc}}</td>
        <td>{{product.unitPrice}}</td>
      </tr>
    </table>
  </div>
</div>
