<table class="table table-bordered">
  <tr>
    <th>Number 1: </th>
    <td><input type=text name=num1 [(ngModel)]="number1" class="form-control" /></td>
  </tr>
  <tr>
      <th>Number 2: </th>
      <td><input type=text name=num2 [(ngModel)]="number2" class="form-control"/></td>
  </tr>
  <tr>
      <td>
        <button class="btn btn-info m-1" (click)="add()">+</button>
        <button class="btn btn-info m-1" (click)="sub()">-</button>
        <button class="btn btn-info m-1" (click)="div()">/</button>
        <button class="btn btn-info m-1" (click)="mul()">*</button>
      </td>
  </tr>
  <tr>
    <td><ng-content></ng-content></td>
  </tr>
</table>