<div class="card">
  <div class="card-header bg-warning">
    Friends Entry
  </div>
  <div class="card-body">
    <div *ngIf="message !== ''" class="alert alert-info">
      {{message}}
    </div>
    <table class="table table-bordered">
      <tr>
        <td>Name : </td>
        <td><input type=text name=name class="form-control" #name /></td>
      </tr>
      <tr>
        <td colspan="2">
          <button class="btn btn-info" (click)="addNewFriend(name.value)">Add</button>
        </td>
      </tr>
    </table>
  </div>
</div>
<table class="table table-bordered bg-info text-white">
  <thead>
    <tr>
      <th>Name</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let friendName of friendNames;let i=index" (click)="setSelectedFriend(friendName)" [class.selected]="selectedFriend === friendName">
      <td>{{friendName}}</td> 
      <td><button class="btn btn-danger" (click)="delete(i)">Delete</button></td>
    </tr>    
  </tbody>
</table>
<table class="table">
  <tr *ngIf="selectedFriend !== ''">
    <td>
      Selected Friend is {{selectedFriend}}
    </td>
  </tr>
</table>
